* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 10%;
}

header {
  width: 400px;
  height: 100px;
  background-color: rgb(78, 114, 198);
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.todoItem {
  display: flex;
  margin: 5px;
  justify-content: center;
}
.todoItem input {
  margin: 5px;
}
.todoItem button {
}
.todoItem h4 {
  width: 300px;
  background-color: antiquewhite;
  margin-right: 2px;
}
.App {
  margin: auto;
}
.inputs {
  justify-content: center;
  display: flex;
}
#addInput {
  display: flex;
  justify-content: center;
}
.todoItem h4 {
  padding: 8px;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 10px;
}
#deleteBtn {
  padding: 10px;
  border-radius: 10px;
}
